body
{
font-size: 16px;
background-color: #D8E9F3;
font-family: 'Inconsolata', monospace;
}



h1
{
font-size: 60px;
text-shadow: 2px 2px 0 #ffffff;
color: #456DB9;
text-align: center;
}

h3
{
font-size: 18px;

color: #456DB9;
text-align: center;
}




h2
{
font-size: 36px;
color: #456DB9;
text-align: center;
}

h4
{
font-size: 12px;
color: #456DB9;
}




p
{
font-size: 14px;
color: #456DB9;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;


}
	

.block-1 {
  width: 350px;
  height: 350px;
  position: relative;
  z-index: -100;
  top: -10%;
}

.block-2 {
top: 350px;
width: 15%;
z-index: 100;
position: absolute;
left: 39%;	
bottom: 0x;
z-index: 100;
 transform: rotate(20deg);

}

a {
color: #456DB9;
text-decoration: none;
}

a:hover {
 color: #7FDBFF; 
text-decoration:  none;}

a:active {
 color: #597BDC;}


.block-3 {
top: 30%;
width: 15%;
z-index: 100;
position: absolute;
left: 39%;
bottom: 0x;
z-index: 100;
rotate: 10deg;
}

.box {
  display: inline-block;
  margin: 30px;
Padding: 10px;

transition: width 1s;	
transition-timing-function: ease-in;

}

#img1
{
transition-duration: 10s;
	

}

#img1:hover {
transform: scale(1.4, 1.4);	
transition-duration: 10s;
		
}


#img2
{

transition-duration: 5s;
transition: transform 1s;	

}

#img2:hover {
	
transition-duration: 5s;
transform: translate(80px, 30px) scale(1.3,1.3) ;		
}



#img3
{
transition-duration: 4s;
transition: transform 5s;
	
}


#img3:hover {
transform: scale(1.3, 1.3);	
transition-duration: 4s;
transform: translate(-20px, -10px);
		
}


#project1{
transition-duration: 2s;	
}


#project2{
transition-duration: 2s;	
}


#project3{
transition-duration: 2s;	
}

#project4{
transition-duration: 2s;	
}


#project1:hover {
transform: scale(1.3, 1.3);	
transition-duration: 2s;	
}

#project2:hover {
transform: scale(1.3, 1.3);
transition-duration: 2s;	

}

#project3:hover {
transform: scale(1.3, 1.3);
transition-duration: 2s;	
	
}

#project4:hover {
transform: scale(1.3, 1.3);
transition-duration: 2s;	
}



.footer {
    position: absolute;
    left: 0;
    top: 1100px	;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 260px;
    background-color: #AEC2E8;
    color: white;
    text-align: center;

}

.content {
  min-height: calc(100vh - 60px);
}

.button {
  
height:40px;
border-radius: 10%;
  border-style: solid;
  border-color: #AEC2E8;
background-color: #AEC2E8;
width: 100px;
transition: width 1s;
transition-timing-function: ease-in;

}

.button:hover {


border-color: #ffffff;
background-color: #ffffff;
border-radius: 10%;
border-style: solid;
transform: scale 10px;
width: 150px;
}


